html {
  height: 100%;
  width: 100%;
}

.links {
  display: flex;
  flex-direction: column;
}

.links * {
  margin: 8px 0;
}

.vertical-scroll {
  content: " ";
  display: block;
  height: 2000px;
}
